<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FileHandle_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MapQuery_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Tokenizer_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>VHDLSourceFile_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>hurricane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>md5_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>numbers_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>strings_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>utils_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>68C9E77519CF5FAF00B9809D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C9E79719CF642600B9809D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C9E7A819D1DBF600B9809D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68F7780119E7013400BF866A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68F7781019E96EDE00BF866A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68F7781E19E97BB900BF866A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68F7782F19ECF05600BF866A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68F7783F19EDC82A00BF866A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68F7784F19EDCA8B00BF866A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
